<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Dating App</a>

        <div class="collapse navbar-collapse" id="navbarCollapse" style="justify-content: space-between;">
            <ul class="navbar-nav mr-auto">
                @if (accountService.currentUser()){
                <li class="nav-item active">
                    <a class="nav-link">Matches <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link">Lists <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link">Messages <span class="sr-only">(current)</span></a>
                </li>
              
            }
            </ul>
            

            @if(accountService.currentUser()){
                <div dropdown class="dropdown">
                    <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">Welcome user!</a>
                    <div *dropdownMenu class="dropdown-menu">
                        <a class="dropdown-item">Edit profile</a>
                        <div class="dropdown-divider">

                        </div>
                        <a class="dropdown-item" (click) = "logout()">Logout</a>
                    </div>
                </div>
            }
            @if (!accountService.currentUser()){
                <form #loginForm="ngForm" (ngSubmit)="login()" class="form-inline mt-2 mt-md-0"
                    style="display: flex; gap:10px;" autocomplete="off">
                    <input name="userName" [(ngModel)]="model.userName" class="form-control mr-sm-2" placeholder="Username">
                    <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" placeholder="Password"
                        type="password">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                </form>
            }


        </div>
    </div>

</nav>